PORT=3000
SESSION_SECRET=change_me

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=blog-chella

MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=blog-chella

MAIL_USER=your@gmail.com
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REFRESH_TOKEN=
