# App
PORT=3000
SESSION_SECRET=change_this_session_secret

# Database
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=blog-chella

# MySQL container bootstrap
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=blog-chella

# Mail (Nodemailer Gmail)
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
